
<div class="signin">
  <div class="ui center aligned grid">
    <div class="column">
      <form class="ui form small" style="width: 80%;margin:0 auto;">
        <div class="ui stacked "> <!-- segment -->
          <h1 class="ui image header" style="color: white;">
            <img src="assets/images/logo.png" class="image">
            <div class="content">
              欢迎登陆博瑞彤芸
            </div>
          </h1>

          <div class="field">
            <div class="ui big left icon input form-group">
              <i class="user icon"></i>
              <input type="text" name="email"
                     style="background: rgba(45,45,45,0.15);"
                     placeholder="用户名/邮箱地址"
                     [(ngModel)]="name" name="name">
            </div>
            <!--<div class="ui pointing red basic label">这个名字已被采用 </div>-->
          </div>
          <div class="field">
            <div class="ui big left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password"
                     style="background: rgba(45,45,45,0.15)"
                     placeholder="密码"
                     [(ngModel)]="password" name="password">
            </div>
          </div>
          <div class="field" style="height:2em;">
            <div class="ui checkbox" style="float: left;">
              <input id="remember" type="checkbox" tabindex="0" class="hidden"
                     [(ngModel)]="remember" name="remember">
              <label for="remember">记住我</label>
            </div>
            <a style="" [routerLink]="['/forget']">忘记密码?&nbsp;&nbsp;</a>
          </div>
          <div class="ui fluid large button field login" name="submit" (click)="signIn();">登陆</div>
          <div class="ui error message"></div>
        </div>

      </form>
    </div>
  </div>

</div>

