
<div class="ui internally celled grid" style="height: 100%;">
  <div class="row ">
    <div class="three wide column ui inverted vertical attached accordion menu"
         style="overflow: auto; padding: 0;">
      <!--<div class="">-->
      <div class="item"></div>
      <a class="item">
        <a class="title active"><i class="dropdown icon"></i> 博瑞彤芸 </a>
        <div class="content active" >
          <a class="item"><i class="home icon"></i> 博 </a>
          <a class="item"><i class="block layout icon"></i> 瑞 </a>
          <a class="item"><i class="smile icon"></i> 彤 </a>
          <a class="item"><i class="calendar icon"></i> 芸 </a>
        </div>
      </a>
      <a class="item">
        <a class="title"><i class="dropdown icon"></i> 分类 </a>
        <div class="content" >
          <a class="item subitem"><i class="home icon"></i> 主页 </a>
          <a class="item"><i class="block layout icon"></i> 话题 </a>
          <a class="item"><i class="smile icon"></i> 好友 </a>
          <a class="item"><i class="calendar icon"></i> 日期 </a>
        </div>
      </a>
      <a class="item"><i class="smile icon"></i> Friends </a>
      <a class="item">
        <a class="title"><i class="dropdown icon"></i> History </a>
        <div class="content" >
          <a class="item subitem"><i class="home icon"></i> sub Home </a>
          <a class="item"><i class="block layout icon"></i> sub Topics </a>
          <a class="item"><i class="smile icon"></i> sub Friends </a>
          <a class="item"><i class="calendar icon"></i> sub History </a>
        </div>
      </a>
      <a class="item">
        <a class="title"><i class="dropdown icon"></i> History </a>
        <div class="content" >
          <a class="item subitem"><i class="home icon"></i> sub Home </a>
          <a class="item"><i class="block layout icon"></i> sub Topics </a>
          <a class="item"><i class="smile icon"></i> sub Friends </a>
          <a class="item"><i class="calendar icon"></i> sub History </a>
        </div>
      </a>
      <a class="item">
        <a class="title"><i class="dropdown icon"></i> History </a>
        <div class="content" >
          <a class="item subitem"><i class="home icon"></i> sub Home </a>
          <a class="item"><i class="block layout icon"></i> sub Topics </a>
          <a class="item"><i class="smile icon"></i> sub Friends </a>
          <a class="item"><i class="calendar icon"></i> sub History </a>
        </div>
      </a>
      <a class="item">
        <a class="title"><i class="dropdown icon"></i> History </a>
        <div class="content" >
          <a class="item subitem"><i class="home icon"></i> sub Home </a>
          <a class="item"><i class="block layout icon"></i> sub Topics </a>
          <a class="item"><i class="smile icon"></i> sub Friends </a>
          <a class="item"><i class="calendar icon"></i> sub History </a>
        </div>
      </a>
      <a class="item">
        <a class="title"><i class="dropdown icon"></i> History </a>
        <div class="content" >
          <a class="item subitem"><i class="home icon"></i> sub Home </a>
          <a class="item"><i class="block layout icon"></i> sub Topics </a>
          <a class="item"><i class="smile icon"></i> sub Friends </a>
          <a class="item"><i class="calendar icon"></i> sub History </a>
        </div>
      </a>
      <a class="item">
        <a class="title"><i class="dropdown icon"></i> History </a>
        <div class="content" >
          <a class="item subitem"><i class="home icon"></i> sub Home </a>
          <a class="item"><i class="block layout icon"></i> sub Topics </a>
          <a class="item"><i class="smile icon"></i> sub Friends </a>
          <a class="item"><i class="calendar icon"></i> sub History </a>
        </div>
      </a>
      <a class="item">
        <a class="title"><i class="dropdown icon"></i> History </a>
        <div class="content" >
          <a class="item subitem"><i class="home icon"></i> sub Home </a>
          <a class="item"><i class="block layout icon"></i> sub Topics </a>
          <a class="item"><i class="smile icon"></i> sub Friends </a>
          <a class="item"><i class="calendar icon"></i> sub History </a>
        </div>
      </a>
      <!--</div>-->
    </div>

    <div class="thirteen wide column" style="overflow: auto;">
      <div class="ui large breadcrumb item">
        <a class="section">博瑞彤芸</a>
        <div class="divider"> / </div>
        <a class="section">乐简市场</a>
        <div class="divider"> / </div>
        <div class="active section">应用</div>
      </div>
      <p></p>
      <div class="ui">
        <div class="ui three column grid">
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/daniel.jpg">
              </div>
              <div class="content">
                <a class="header">丹尼尔 路易斯</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/helen.jpg">
              </div>
              <div class="content">
                <a class="header">海伦 特洛伊</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/elliot.jpg">
              </div>
              <div class="content">
                <a class="header">Elliot Fu</a>
              </div>
            </div>
          </div>
        </div>

        <div class="ui six doubling cards">
          <div class="teal  card">
            <div class="image">
              <img src="assets/images/avatar/large/elliot.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="assets/images/avatar/large/helen.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="assets/images/avatar/large/jenny.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="assets/images/avatar/large/veronika.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="assets/images/avatar/large/stevie.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="assets/images/avatar/large/steve.jpg">
            </div>
          </div>
        </div>
        <div class="ui three column grid">
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/daniel.jpg">
              </div>
              <div class="content">
                <a class="header">丹尼尔 路易斯</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/helen.jpg">
              </div>
              <div class="content">
                <a class="header">海伦 特洛伊</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/elliot.jpg">
              </div>
              <div class="content">
                <a class="header">Elliot Fu</a>
              </div>
            </div>
          </div>
        </div>

        <div class="ui three column grid">
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/daniel.jpg">
              </div>
              <div class="content">
                <a class="header">丹尼尔 路易斯</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/helen.jpg">
              </div>
              <div class="content">
                <a class="header">海伦 特洛伊</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/elliot.jpg">
              </div>
              <div class="content">
                <a class="header">Elliot Fu</a>
              </div>
            </div>
          </div>
        </div>

        <div class="ui six doubling cards">
          <div class="teal  card">
            <div class="image">
              <img src="assets/images/avatar/large/elliot.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="assets/images/avatar/large/helen.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="assets/images/avatar/large/jenny.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="assets/images/avatar/large/veronika.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="assets/images/avatar/large/stevie.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="assets/images/avatar/large/steve.jpg">
            </div>
          </div>
        </div>
        <div class="ui three column grid">
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/daniel.jpg">
              </div>
              <div class="content">
                <a class="header">丹尼尔 路易斯</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/helen.jpg">
              </div>
              <div class="content">
                <a class="header">海伦 特洛伊</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui fluid card">
              <div class="image">
                <img src="assets/images/avatar/large/elliot.jpg">
              </div>
              <div class="content">
                <a class="header">Elliot Fu</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
