<div style="display: table; width: 100%; height: 100%;">

  <div class="" style="display: table-cell; vertical-align: middle; text-align: center;">
    <div class="ui one column grid item">
      <div class="column ">
        <div class="ui container ">

          <div class="ui six doubling link cards">
            <div class="teal card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
              </div>
              <div class="content">
                <a class="header">管理</a>
              </div>
            </div>
            <div class="green card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
              </div>
              <div class="content">
                <a class="header">产品</a>
              </div>
            </div>
            <div class="blue card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
              </div>
              <div class="content">
                <a class="header">测试</a>
              </div>
            </div>
            <div class="purple card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg">
              </div>
              <div class="content">
                <a class="header">UI</a>
              </div>
            </div>
            <div class="pink card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
              </div>
              <div class="content">
                <a class="header">APP</a>
              </div>
            </div>
            <div class="red card">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/steve.jpg">
              </div>
              <div class="content">
                <a class="header">研发</a>
              </div>
            </div>
          </div>

          <div class="ui browse-an six doubling cards">
            <div class="teal card manager">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
              </div>
              <div class="content">
                <a class="header">管理</a>
              </div>
            </div>
            <div class="green card product">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
              </div>
              <div class="content">
                <a class="header">产品</a>
              </div>
            </div>
            <div class="blue card test">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
              </div>
              <div class="content">
                <a class="header">测试</a>
              </div>
            </div>
            <div class="purple card design">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg">
              </div>
              <div class="content">
                <a class="header">UI</a>
              </div>
            </div>
            <div class="pink card app">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
              </div>
              <div class="content">
                <a class="header">APP</a>
              </div>
            </div>
            <div class="red card engineer">
              <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/steve.jpg">
              </div>
              <div class="content">
                <a class="header">研发</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>







